.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blocks {
  display: grid;
  grid-template: repeat(10, 1fr)/repeat(10, 1fr);
  gap: 5px;
}

.block {
  width: 5.5vh;
  height: 5.5vh;
  border-radius: 3px;
}
