.backdrop,
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.68);
  backdrop-filter: blur(15px);
}

.container {
  background-color: rgba(255, 255, 255, 0.18);
  width: 40vw;
  height: 30vh;
  border-radius: 10px;
  border: 1px solid grey;
}

button {
  height: 30px;
  width: 150px;
  background: rgba(101, 228, 163, 1);
  border: 2px solid rgba(101, 228, 163, 1);
  border-radius: 56px;
  font-family: 'Open Sans',
    sans-serif;
  font-weight: bold;
}

.win,
.lose {
  font-size: 1.5em;
  font-weight: bold;
}

.win {
  color: #009D10;
}

.lose {
  color: #FC5B00;
}
